<!DOCTYPE html>

<!--suppress JSUnresolvedLibraryURL -->
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Products list</title>
</head>
<style>
    input {
        margin-right: 100px;
    }
</style>
<body style="margin: 25px">
<div class="container" ng-controller="indexController">
    <h3>Products list</h3>
    <form novalidate ng-submit="loadProducts(min, max, title)"
          style="margin-bottom: 15px; display: flex; flex-direction: row">
        <input class="form-control" type="number" placeholder="min price" ng-model="min">
        <input class="form-control" type="number" placeholder="max price" ng-model="max">
        <input class="form-control" type="text" placeholder="title part" ng-model="title">
        <p></p>
        <button style="margin-right: 150px" type="submit" class="btn btn-info">Sort</button>
    </form>
    <table class="table table-hover" cellpadding="0" cellspacing="0" style="margin-top: 15px; z-index: 0">
        <tr>
            <td style="width: 150px;">ID</td>
            <td style="width: 300px;">Title</td>
            <td style="width: 200px;">Price</td>
            <td style="width: 200px; text-align: center;">Add to cart</td>
            <td style="width: 300px; text-align: center;">Delete</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <!--            <td style="text-align: center;">-->
            <!--                <button class="btn btn-danger" ng-click="changeCount(p.id, -1)">-</button>-->
            <!--                {{p.count}}-->
            <!--                <button class="btn btn-primary" ng-click="changeCount(p.id, 1)">+</button>-->
            <!--            </td>-->
            <td style="text-align: center;">
                <button class="btn btn btn-success" ng-click="toCart(p.id)">➕</button>
            </td>
            <td style="text-align: center;">
                <button class="btn btn btn-secondary" ng-click="delete(p.id)">🗑🚮</button>
            </td>
        </tbody>
    </table>
    <!--    <button class="btn btn btn-success" ng-click="fill()" style="margin: 0 40%">-->
    <!--        Restore product list-->
    <!--    </button>-->
    <a href="cart.html">
        <button type="button" class="btn btn-info"
                style="margin-bottom: 16px; margin-right: 85px; float: right; width: 185px">
            Просмотр корзины
        </button>
    </a>
    <form novalidate ng-submit="addProduct()" style="margin-bottom: 50px">
        <input class="form-control" type="text" placeholder="title" ng-model="newProduct.title">
        <br>
        <input class="form-control" type="number" placeholder="price" ng-model="newProduct.price">
        <br>
        <button type="submit" class="btn btn-success" onclick="this.form.reset();">Add new product</button>
    </form>
</div>
</body>
</html>